.loader {
    margin: 100px auto;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 9px solid var(--color-dark);
    border-right-color: transparent;
    animation: rotate 1.5s linear infinite;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  