.form {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
    font-size: 18px;
    margin-top: 20px;
    padding: 0px 20px;
  }

  .form__title {
    font-size: 28px;
    margin: 0px 0px 20px 0px;
  }

  .form > label {
    margin-bottom: 3px;
    font-weight: bold;
    color: #000;
    font-size: 18px;
  }

  .form__input {
    padding: 0px 20px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    min-width: 280px;
  }

  .form__input.input__error {
    border: 1px solid red;
  }

  .form__input::placeholder {
    color: var(--color-dark);
    opacity: 50%;
  }

  .form__forgot {
    color: var(--color-brown);
    text-align: end;
    margin: -10px 0px 10px 0px;
  }

  .form__error {
    color: red;
  }

  @media screen and (max-width: 480px) {
    .form {
      width: 300px;
      padding: 0px 10px;
    }
  }